<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="clipman.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <clipman.Properties.Settings>
            <setting name="ClipLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="QuitShortcut" serializeAs="String">
                <value>Ctrl+Q</value>
            </setting>
            <setting name="FocusShortcut" serializeAs="String">
                <value>Ctrl+F</value>
            </setting>
            <setting name="DeleteShortcut" serializeAs="String">
                <value>Ctrl+D</value>
            </setting>
            <setting name="PinShortcut" serializeAs="String">
                <value>Ctrl+P</value>
            </setting>
            <setting name="CopyShortcut" serializeAs="String">
                <value>Ctrl+Shift+C</value>
            </setting>
            <setting name="ClearAndFocusShortcut" serializeAs="String">
                <value>Esc</value>
            </setting>
            <setting name="FocusWindowShortcut" serializeAs="String">
                <value>Ctrl+OemTilde</value>
            </setting>
            <setting name="Accent" serializeAs="String">
                <value>#FFDA70D6</value>
            </setting>
            <setting name="DarkAccent" serializeAs="String">
                <value>#FF9932CC</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
        </clipman.Properties.Settings>
    </userSettings>
</configuration>